<% include ./partials/header %>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">SocialBeer</h1>
                    <p class="intro-text">A comunidade de quem é fã de cerveja
                        <br>Conheça novas cervejas e compartilhe suas preferências!
                        <br>Torne-se o Lendário Mestre Cervejeiro!</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <h2>SocialBeer</h2>
        <!--<div class="col-lg-10 col-lg-offset-2">-->
            <div class="row">
                <div class="col-lg-6 about-lg">
                    <p>SocialBeer é uma <b>comunidade</b> de amantes de cerveja. Nossa missão é <b>unir pessoas</b> que desejam
                        experimentar novos tipos de cerveja de qualidade com cervejeiros mais experientes que possam encontrar
                        um lugar para discutir <b>sua paixão</b> e orientar os novatos.</p>

                    <p>Torne-se um membro ativo de nossa <b>sociedade de cervejeiros</b> faça todo seu caminho desde um iniciante ao
                        <b>Lendário Mestre Cervejeiro</b>. Aprenda mais sobre essa bebida maravilhosa e compartilhe sua opinião e
                        gostos com outros membros de nossa comunidade.</p>

                    <img src="/img/beerfocus.jpg" style="width: 100%;height: 100%; display: table-cell;
                     vertical-align: middle; ">
                </div>
                <div class="col-lg-6">
                    <img src="/img/two-pints-beer.jpg" style="width: 100%;height: 100%; display: table-cell; vertical-align: middle;
                                                                padding-top: 50px; padding-bottom: 140px;">
                    <p>Torne-se um assinante e receba um <b>atendimento personalizado</b> onde nossa plataforma irá avaliar seus
                        gostos e sua personalidade, indicando-lhe uma nova cerveja que se adequa ao seu paladar.</p>

                    <p>Estamos aqui para <b>melhorar sua experiência</b> cervejeira.</p>
                </div>
            </div>
        <!--</div>-->
    </div>
</section>

<!-- Shop Section -->
<section id="shop" class="shop-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Loja SocialBeer</h2>
                <p>Acesse e descubra novos sabores com o melhor preço do mercado!</p>
                <a href="" class="btn btn-default btn-lg">Acesse a Loja</a>
            </div>
        </div>
    </div>
</section>

<!-- Community Section -->
<section id="community" class="container content-section text-center">
    <row>
    <h2>Comunidade</h2>
        <div class="row">
            <div class="col-lg-6 about-lg"style="padding-top: 105px;">
                        <p>Venha fazer parte da sociedade de cervejeiros gratuitamente.
                            Faça todo seu caminho desde um iniciante ao Lendário Mestre Cervejeiro.
                            Aprenda mais sobre essa bebida maravilhosa e compartilhe sua opinião e gostos com outros membros de nossa comunidade.
                        </p>
            </div>
            <div class="col-lg-6">
                <img src="/img/beercomunity.jpg" style="width: 100%;display: table-cell; vertical-align: middle;
                                                                padding-top: 50px; padding-bottom: 40px;">
            </div>
        </div>
    <a href="" class="btn btn-default btn-lg">Acesse a Comunidade</a>
    </row>
</section>

<!-- Subscription Section -->
<section id="subscription" class="subscription-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Assine</h2>
                <p>Torne-se um assinante e receba um atendimento personalizado onde nossa plataforma irá avaliar seus
                    gostos e sua personalidade, indicando-lhe uma nova cerveja que se adequa ao seu paladar.</p>
                <a href="" class="btn btn-default btn-lg">Assine já</a>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>