<% include ./partials/header %>

<h1 class="form-mark">Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" class="form-text"><br>
    <input type="password" name="password" placeholder="password" class="form-text"><br>
    <button type="button" class="btn btn-warning form-button">Login</button>
</form>

<% include ./partials/footer %>