<% include ./partials/header %>

<h1 class="form-mark">Login</h1>

<div class="row center-input">
    <div class=" col-lg-2">
        </div>
            <div class=" col-lg-8">
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="username" class="form-text"><br>
                    <input type="password" name="password" placeholder="password" class="form-text"><br>
                    <button type="button" class="btn btn-warning form-text">Login</button>
                </form>
            </div>
        <div class=" col-lg-2">
    </div>
</div>

<% include ./partials/footer %>