<!--
Filename: /home/luiscm/Projects/hackathon_ambev/views/product.ejs
Path: /home/luiscm/Projects/hackathon_ambev
Created Date: Saturday, August 5th 2017, 9:04:08 pm
Author: luiscm

Copyright (c) 2017 Your Company
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<!-- Bootstrap Core CSS -->
		<!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    	<!-- Custom Fonts -->
    	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    	<!-- Theme CSS -->
    	<link href="build/css/grayscale.min.css" rel="stylesheet">

    	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
	</head>

	<body>
		<% include partials/header.ejs %>

		<div class="pad row">
			<div class="col-md-4">
			<img src="img/tripelbock.jpg" alt="">
			</div>

			<div class="col-md-8 text">
				<div class="head-container">
					<h1>Dádiva Tripel Bock 28</h1>
					
					<div class="btn-container">
						<a href="" class="btn btn-lg">Descrição</a>
						<a href="" class="btn btn-lg">Discussão</a>
					</div>
				</div>

				<div class="description">

					<div class="desc-description">
						<h2>Descrição</h2>
						<p>A Cerveja Dádiva Tripel Bock 28 é uma cerveja encorpada com aroma de fruta seca muito 
						perceptível e um teor alcoólico elevado. Quanto ao sabor percebe-se um elevado dulçor frutado 
						acompanhado de notas de malte torrado, caramelo, toffee e chocolate.
						</p>

						<ul>
							<li>Origem: Brasil</li>
							<li>Teor Alcoólico: 12,90%</li>
							<li>Tipo de Cerveja: Doppelbock</li>
							<li>Cor: Vermelha</li>
						</ul>
					</div>

					<div class="desc-history">
						<h2>História</h2>
						<p>Cerveja produzida pela cooperação entre Cervejaria Dádiva, Cervejaria Avós e Cervejaria 
						Mafiosa.
						As três artesanais paulistas preparam uma grande festa na fábrica da Dádiva, em Várzea Paulista, para comemorar esse 
						grande lançamento. A Dádiva TripelBock 28 foi produzida em edição limitada a 1800 litros. Uma parte foi armazenada em 
						barris de carvalho de vinho do Porto e envelhecerá por alguns anos.</p>
					</div>

					<div class="desc-harmony">
						<h2>Harmonização</h2>

						<ul>
							<li>Queijos: minas, brie/camembert, gouda, cheddar, prato, gruyère, parmesão, roquefort e gorgonzola</li>
							<li>Carnes: pato, codorna, peru, chester, linguiça de frango, lombo de porco defumado, bife, rosbife, capivara, salsicha, linguiça de porco e chouriço</li>
							<li>Peixes e Frutos do Mar: casquinha de siri, salmão, truta, lagosta, lula e sardinha</li>
							<li>Sobremesas: cheesecake, torta de chocolate e torta de maçã</li>
							<li>Outros: Amendoim, castanha de caju, amêndoa, acarajé, caldo de feijão, caldo-verde, sopa de legumes, feijoada, paella e comida mexicana</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<h2>R$ 30,00</h2>
						<a href="" class="btn btn-lg">COMPRAR</a>
					</div>
				</div>
			</div>
		</div>

		<% include partials/footer.ejs%>
	</body>
</html>

