<!--
Filename: /home/luiscm/Projects/hackathon_ambev/views/product.ejs
Path: /home/luiscm/Projects/hackathon_ambev
Created Date: Saturday, August 5th 2017, 9:04:08 pm
Author: luiscm

Copyright (c) 2017 Your Company
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<!-- Bootstrap Core CSS -->
		<!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    	<!-- Custom Fonts -->
    	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    	<!-- Theme CSS -->
    	<link href="build/css/grayscale.min.css" rel="stylesheet">

    	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
	</head>
	<body>
		<% include partials/header.ejs %>

		<div class="container to-left">
			<img class="imagem-prod" src="" alt="">

			<div class="text">
				<div class="head-container">
					<h1>Dádiva Tripel Bock 28</h1>
					
					<div class="btn-container">
						<a href="" class="btn btn-lg">Descrição</a>
						<a href="" class="btn btn-lg">Discussão</a>
					</div>
				</div>

				<div class="description">

					<div class="desc-description">
						<h2>Descrição</h2>
						<p>Dolore ex dolor tempor incididunt cillum ea. Cillum fugiat culpa nostrud nulla excepteur 
						aliqua exercitation do in laborum cillum. Aliquip excepteur aliqua sint commodo laboris 
						eiusmod commodo.Reprehenderit commodo aliqua quis in. Aliqua adipisicing cillum sit dolor 
						commodo aliquip sint excepteur. Dolor irure ea sit id tempor laborum aliqua aliqua deserunt 
						commodo consectetur ex eiusmod ex.Sunt excepteur exercitation sint pariatur adipisicing tempor 
						nulla mollit proident cupidatat. Ea pariatur dolore occaecat minim commodo dolor labore 
						consequat aliquip in qui exercitation. Sint laborum elit nostrud mollit nulla deserunt 
						adipisicing magna officia. Reprehenderit tempor aliqua do culpa non cillum ipsum minim ad 
						reprehenderit nisi consequat nostrud sit.</p>
					</div>

					<div class="desc-history">
						<h2>História</h2>
						<p>Proident velit deserunt id aute eiusmod veniam est do nostrud aliqua occaecat consequat 
						magna. Amet aute laboris sit sunt qui anim cillum laborum dolor aliquip duis irure. Sunt 
						dolore ipsum et ad reprehenderit amet et laborum ea et Lorem.Sit officia ut cupidatat mollit 
						dolore aliqua cupidatat exercitation sint laboris. Sint adipisicing ex eiusmod id eu commodo 
						et dolore. Occaecat culpa deserunt dolor proident proident minim mollit proident sit est eu 
						aute. Nulla excepteur do officia amet ut eiusmod eiusmod nostrud culpa enim laborum cupidatat 
						sit. Pariatur occaecat sit dolore nostrud ipsum fugiat do. Irure nostrud quis aute duis 
						reprehenderit laboris nulla ad sint proident irure.</p>
					</div>

					<div class="desc-harmony">
						<h2>Harmonização</h2>
						<p>Laboris consequat eiusmod aliquip dolor non. Proident veniam ipsum sint commodo ea nostrud 
						consequat eiusmod nisi consequat. Excepteur ad tempor ex est consequat esse velit nulla 
						officia quis.</p>
					</div>
				</div>
			</div>
		</div>

		<% include partials/footer.ejs%>
	</body>
</html>

