<% include ./partials/header %>

<div id="profile">
    <div id="avatar">
        <img id="avatar" src="https://avatars2.githubusercontent.com/u/19615622?v=4&s=460" />
    </div>
    <div>
        <ul id="best-list" margin-top="5%">
            <li><h3>Eric Moreira</h3></li>
            <hr>
            <li><i>"Heavy Drinker!"</i></li>

            <hr>
                <div class="col-sm-6">
                    <img height="50%" width="50%" src="https://s-media-cache-ak0.pinimg.com/originals/ed/e3/22/ede322e92267c40b615d0eb4c152fd47.jpg" /><br>
                    <li id="rank"><strong>Beer Enthusiastic</strong></li>
                </div>
                <div class="col-sm-6">
                    <li class="level">Level: 3</li>
                    <li class="level">Exp: 60/100</li>
                </div>
        </ul>
    </div>
</div>

<% include ./partials/footer %>